<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>朗擎</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/index.css"/>
</head>
<body>
    <div id="main">
        <template>
            <div class="body" id="body">
                <div class="body-header">
                    <ul>
                        <li><a @click="changeScroll('body-header')" class="active" href="javascript:;">首页</a></li>
                        <li><a @click="changeScroll('body-info-1')" href="javascript:;">产品介绍</a></li>
                        <li><a @click="changeScroll('body-info-2')" href="javascript:;">功能大全</a></li>
                        <li><a @click="changeScroll('body-analyze')" href="javascript:;">行业分析</a></li>
                        <li><a @click="changeScroll('body-info-3')" href="javascript:;">大数据</a></li>
                        <li><a @click="changeScrollBottom()" href="javascript:;">联系我们</a></li>
                    </ul>
                    <img src="assets/img/header_logo@2x.png" alt="郎擎" class="body-header-img">
                </div>
                <div class="body-banner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" v-for="item of banner">
                                <div class="body-banner-img-box"></div>
                                <!-- <img :src="item.img" alt="" class="body-banner-img"> -->
                                <div class="body-banner-info">
                                    <img class="body-banner-info-img" src="assets/img/bannerT.png">
                                </div>
                                <div class="body-banner-s">
                                    <div class="body-banner-sbox">
                                        <img src="assets/img/1.png" class="ani img body-banner-s3" swiper-animate-effect="fadeInUp" swiper-animate-duration=".5s" swiper-animate-delay="1s">
                                        <img src="assets/img/2.png" class="ani img body-banner-s4" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0s">
                                        <img src="assets/img/3.png" class="ani img body-banner-s5" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay=".5s">
                                    </div>  
                                </div>
                                
                            </div>
                        </div>
                        <div class="swiper-pagination">
                            <div>aa</div>
                        </div>
                    </div>
                </div>
                <div class="body-info-1">
                    <div class="body-info1-title">
                        <p class="body-info1-title-p1">小程序+公众号+多种社交媒体多渠道智能营销</p>
                        <p class="body-info1-title-p2">一站式服务助你享受“互联网+”时代红利O2O/客易来、电商ERP、个人ID、会务、官网助你突破智能商业模式</p>
                    </div>
                    <div class="body-info1-content">
                        <ul>
                            <li class="body-info1-content-li1" @mouseenter = "show = 1"  @mouseleave = "show = null">
                                <img src="assets/img/icon_48X48_o2o@2x.png" alt="">
                                <div class="block"></div>
                                <p>O2O/客易来</p>
                                <transition name = "zoom" @after-enter="afterEnter" @before-leave="leave" @leave="leave">
                                    <template>
                                        <div v-if = "show === 1" class="body-info1-content-show-box">
                                            <div  v-for="item of zoomIn[0].part" class="body-info1-content-show-boxlist"><span>{{item.title}}</span><p>{{item.info}}</p></div>
                                        </div>
                                    </template>
                                </transition>
                            </li>
                            <li class="body-info1-content-li2" @mouseenter = "show = 2" @mouseleave = "show = null">
                                <img src="assets/img/icon_48X48_shop@2x.png" alt="">
                                <div class="block"></div>
                                <p>电商ERP</p>
                                <transition name = "zoom" @after-enter="afterEnter" @before-leave="leave" @leave="leave">
                                    <template>
                                        <div v-if = "show === 2" class="body-info1-content-show-box">
                                            <div  v-for="item of zoomIn[1].part" class="body-info1-content-show-boxlist"><span>{{item.title}}</span><p>{{item.info}}</p></div>
                                        </div>
                                    </template>
                                </transition>
                            </li>
                            <li class="body-info1-content-li3" @mouseenter = "show = 3" @mouseleave = "show = null">
                                <img src="assets/img/icon_48X48_user@2x.png" alt="">
                                <div class="block"></div>
                                <p>个人ID</p>
                                <transition name = "zoom" @after-enter="afterEnter" @before-leave="leave" @leave="leave">
                                    <template>
                                        <div v-if = "show === 3" class="body-info1-content-show-box">
                                            <div  v-for="item of zoomIn[2].part" class="body-info1-content-show-boxlist"><span>{{item.title}}</span><p>{{item.info}}</p></div>
                                        </div>
                                    </template>
                                </transition>
                            </li>
                            <li class="body-info1-content-li4" @mouseenter = "show = 4" @mouseleave = "show = null">
                                <img src="assets/img/icon_48X48_event@2x.png" alt="">
                                <div class="block"></div>
                                <p>会务</p>
                                <transition name = "zoom" @after-enter="afterEnter" @before-leave="leave" @leave="leave">
                                    <template>
                                        <div v-if = "show === 4" class="body-info1-content-show-box">
                                            <div  v-for="item of zoomIn[3].part" class="body-info1-content-show-boxlist"><span>{{item.title}}</span><p>{{item.info}}</p></div>
                                        </div>
                                    </template>
                                </transition>
                            </li>
                            <li class="body-info1-content-li5" @mouseenter = "show = 5" @mouseleave = "show = null">
                                <img src="assets/img/icon_48X48_link@2x.png" alt="">
                                <div class="block"></div>
                                <p>官网</p>
                                <transition name = "zoom" @after-enter="afterEnter" @before-leave="leave" @leave="leave">
                                    <template>
                                        <div v-if = "show === 5" class="body-info1-content-show-box">
                                            <div  v-for="item of zoomIn[4].part" class="body-info1-content-show-boxlist"><span>{{item.title}}</span><p>{{item.info}}</p></div>
                                        </div>
                                    </template>
                                </transition>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="body-info-2">
                    <div class="body-info2-title">
                        <p class="body-info2-title-p1">全方位满足不同业务需求</p>
                        <p class="body-info2-title-p2">A3分钟搭建移动商城，近百种营销工具, 社群营销&节日营销，拉新、转化、复购面面俱到!强大的技术团队还在不断推出新的功能和方案</p>
                    </div>
                    <div class="body-info2-content">
                        <div v-for="get0,index0 of getBusiness" :class="'body-info2-content-line' + (index0+1)">
                            <div v-for="get1,index1 of get0.line" :style="{ height : (index0 == 0? dom_height_1 : dom_height_2) + 'px'}" :class="'body-info2-content-line' + (index0+1)+'-item'" >
                                <p>
                                    <i class="material-icons" :style="{color:get1.color}">{{get1.line_i}}</i>
                                    <span class="span1">{{get1.line_title[0]}}</span>
                                    <span class="span2">{{get1.line_title[1]}}</span>
                                    <span class="block"></span>
                                </p>
                                <div class="body-info2-content-line1-item-hover">
                                    <b :style="{background:get1.color}"></b>
                                    <span :style="{color:get1.color}">{{get1.info_list[get1.isActive].title}}</span>
                                    <p>{{get1.info_list[get1.isActive].info}}</p>
                                </div>
                                <span v-for="get2,index2 of get1.info_list" :class="{'active':get1.isActive === index2}" @mouseenter="changeGetData(index0,index1,index2)">{{get2.title}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body-analyze">
                    <p class="p1">行业分析</p>
                    <p class="p2">行业全覆盖，更加精准的一体化传播解决方案</p>
                    <div class="body-analyze-content">
                        <div class="body-analyze-content-panel">
                            <p class="body-analyze-content-panel-title">
                                {{analyze_listInfo.title}}
                                <span class="body-analyze-content-panel-block"></span>
                            </p>
                            <p class="body-analyze-content-panel-content">{{analyze_listInfo.info}}</p>
                        </div>
                        <div class="body-analyze-content-list">
                            <p v-for="item,index of analyze_list" @click="getAnalyzeListInfo(index)" :class="{'active':analyze_listActive === index}">{{item.title}}</p>
                        </div>
                    </div>
                </div>
                <div class="body-info-3">
                    <div class="body-info3-title">
                        <p class="body-info3-title-p1">强大的研发实力，安全稳定可靠的系统支持</p>
                        <p class="body-info3-title-p2">来自互联网优秀的技术研发团队，打造安全稳定可用的系统</p>
                    </div>
                    <div class="body-info3-content">
                        <div class="body-info3-content-part clearfix">
                            <div class="body-info3-content-part-box">
                                <div class="body-info3-content-part-box-img"><i class="material-icons" style="color: #fff;">storage</i></div>
                                <div class="body-info3-content-part-box-info">
                                    <div class="clearfix"><span>{{ systemavailnum }}</span><b>%</b></div>
                                    <p>系统可用</p>
                                </div>
                            </div>
                            <div class="body-info3-content-part-box">
                                <div class="body-info3-content-part-box-img"><i class="material-icons" style="color: #fff;">assignment</i></div>
                                <div class="body-info3-content-part-box-info">
                                    <div class="clearfix"><span>{{ordernum}}</span><b>笔</b></div>
                                    <p>每秒处理订单数</p>
                                </div>
                            </div>
                            <div class="body-info3-content-part-box">
                                <div class="body-info3-content-part-box-img"><i class="material-icons" style="color: #fff;">directions_transit</i></div>
                                <div class="body-info3-content-part-box-info">
                                    <div class="clearfix"><span>< {{servicewaittime}}</span><b>毫秒</b></div>
                                    <p>服务平均响应</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body-info3-bottom clearfix">
                        <div v-for="item of all_numAla" class="body-info3-bottom-box">
                            <div class="body-info3-bottom-box-title">{{item.title}}</div>
                            <p class="body-info3-bottom-box-info">{{item.info}}</p>
                        </div>
                    </div>
                </div>
                <div class="body-info-4">
                    <p class="p1">5年技术积累成就行业领先</p>
                    <p class="p2">来自互联网优秀的技术研发团队，打造安全稳定可用的系统</p>
                    <div class="body-info4-content clearfix">
                        <div class="body-info4-content-box">
                            <div class="clearfix"><span>{{systemavailnum1}}</span><b>%</b></div>
                            <p>系统可用</p>
                        </div>
                        <div class="body-info4-content-box">
                            <div class="clearfix"><span>{{systemavailnum2}}</span><b>个</b></div>
                            <p>系统可用</p>
                        </div>
                        <div class="body-info4-content-box">
                            <div class="clearfix"><span>{{goods}}</span><b>亿</b></div>
                            <p>件商品销售中</p>
                        </div>
                        <div class="body-info4-content-box">
                            <div class="clearfix"><span>{{sendGoods}}</span><b>亿</b></div>
                            <p>电商产品年交易额</p>
                        </div>
                        <div class="body-info4-content-box">
                            <div class="clearfix"><span>{{servicetime}}万</span><b>/秒</b></div>
                            <p>订单处理速度</p>
                        </div>
                    </div>
                </div>
                <div class="body-info-5">
                    <div class="body-info5-title">
                        <p class="body-info5-title-p1">合作伙伴</p>
                        <p class="body-info5-title-p2">每个商业计划，我们鼎力相助</p>
                    </div>
                    <div class="body-info5-content">
                       <img class="body-info5-content-img" src="assets/img/background_friends.png" />
                    </div>
                </div>
                <div class="body-footer">
                    <div class="body-footer-contact clearfix">
                        <div class="body-footer-contact-tel">
                            <img src="assets/img/footer_tel_icon@2x.png" />
                            <p>4008-759-618</p>
                        </div>
                        <img class="body-footer-contact-img" src="assets/img/footer_img_1@2x.png" />
                        <img class="body-footer-contact-img" src="assets/img/footer_img_2@2x.png" />
                    </div>
                    <p class="body-footer-number"><span>Copyright © 2016-2017 roygem.cn All Rights Reserved </span>津<span>ICP</span>备<span>15001344</span>号</p>
                </div>
                <div class="body-footerScroll"></div>
            </div>
        </template>
    </div>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/data.js"></script>
    <script src="assets/js/swiper.min.js"></script>
    <script src="assets/js/TweenMax.min.js"></script>
    <script src="assets/js/swiper.animate.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js"></script>
    <script>
        var vm = new Vue({
            el:'#main',
            data:{
                banner:window.data.banner,//轮播图；（json数据）
                show:null,//小程序+公众号+多种社交媒体多渠道智能营销；（共有变量初始化）
                zoomIn:window.data.zoomIn,//小程序+公众号+多种社交媒体多渠道智能营销；（浮动显示的json数据）
                getBusiness:window.data.all_business,//全方位满足不同业务需求；（列表json数据）
                analyze_list:window.data.analyze,//行业分析；（json数据）
                analyze_listInfo:window.data.analyze[0],//行业分析；（获取json数据第一条）
                analyze_listActive:0,//行业分析；（左右联动 默认显示第一条）
                dom_height_1:'',//全方位满足不同业务需求；（第一行高度初始化）
                dom_height_2:'',//全方位满足不同业务需求；（第二行高度初始化）
                scrollNumChanhange:0,//数字递增滚动效果1；（初始化滚动条高度）
                tweenedNumber0: 0,//数字递增滚动效果1；（初始化滚动数字为 0）
                tweenedNumber1: 0,//数字递增滚动效果1；（初始化滚动数字为 0）
                tweenedNumber2: 0,//数字递增滚动效果1；（初始化滚动数字为 0）
                scrollNumChanhange_five:0,//数字递增滚动效果2；（初始化滚动条高度）
                tweenedNumber_five0: 0,//数字递增滚动效果2；（初始化滚动数字为 0）
                tweenedNumber_five1: 0,//数字递增滚动效果2；（初始化滚动数字为 0）
                tweenedNumber_five2: 0,//数字递增滚动效果2；（初始化滚动数字为 0）
                tweenedNumber_five3: 0,//数字递增滚动效果2；（初始化滚动数字为 0）
                tweenedNumber_five4: 0,//数字递增滚动效果2；（初始化滚动数字为 0）
                all_numAla:window.data.all_numAla,//优势列表；（json数据）
                all_numImg:window.data.all_numImg,//5年技术积累成就行业领先；（数量的json数据
            },
            created:function(){
                var that = this;
                that.$nextTick(function(){
                    var mySwiper = new Swiper('.swiper-container', {//Swiper 轮播图插件 初始化
                        // loop: true,//循环播放
                        speed:500,//图片划出速度
                        autoplay: {
                            delay: 4000,//轮播图 的 轮播间隔4秒
                            disableOnInteraction: false,//用户操作后自动切换不会停止
                        },
                        pagination: {
                            el: '.swiper-pagination',
                            bulletClass:'my-bullet',
                            bulletActiveClass:'my-bullet-active',
                            clickable: true,
                            renderBullet:function(index, className){
                                for (var i = 0,len = that.banner.length;i < len;i++) {
                                    if (index == i) {
                                        return '<span class="' + className + '">' + that.banner[i].text + '</span>';
                                    }
                                }
                            },
                        },
                        on:{
                          init: function(){
                            swiperAnimateCache(this); //隐藏动画元素 
                            swiperAnimate(this); //初始化完成开始动画
                          }, 
                          slideChangeTransitionEnd: function(){ 
                            swiperAnimate(this); //每个slide切换结束时也运行当前slide动画
                          } 
                        }
                    });
                });
            },
            mounted:function(){
                var that = this;
                that.dom_height_1 = that.getMaxheight('body-info2-content-line1');//全方位满足不同业务需求；（获取第一行父级元素高度）
                that.dom_height_2 = that.getMaxheight('body-info2-content-line2');//全方位满足不同业务需求；（获取第二行父级元素高度）
                window.addEventListener('scroll', this.scrollNumChan);//监听页面滚动轴事件;(为 数字递增滚动效果；)
            },
            methods:{
                changeScroll:function(e){
                    var scroll=document.getElementsByClassName(e)[0].offsetTop;
                    var timer=setInterval(function(){
                        document.documentElement.scrollTop=document.documentElement.scrollTop+20;
                        if(document.documentElement.scrollTop>=scroll){
                            document.documentElement.scrollTop=scroll;
                            clearInterval(timer);
                        }
                    },0)
                },
                changeScrollBottom:function(){
                    var scroll = document.getElementsByTagName('html')[0].scrollHeight-document.getElementsByTagName('html')[0].scrollTop-document.getElementsByTagName('html')[0].clientHeight;
                     var timer=setInterval(function(){
                        document.documentElement.scrollTop=document.documentElement.scrollTop+20;
                        if(document.documentElement.scrollTop>=scroll){
                            document.documentElement.scrollTop=scroll;
                            clearInterval(timer);
                        }
                    },0)
                },
                afterEnter:function(el){ //小程序+公众号+多种社交媒体多渠道智能营销；（鼠标 划入后 执行的事件）
                   $(el).niceScroll({
                        cursorcolor: "#ccc",//#CC0071 光标颜色
                        cursoropacitymax: 1, //改变不透明度非常光标处于活动状态（scrollabar“可见”状态），范围从1到0
                        touchbehavior: false, //使光标拖动滚动像在台式电脑触摸设备
                        cursorwidth: "5px", //像素光标的宽度
                        cursorborder: "0", //   游标边框css定义
                        cursorborderradius: "5px",//以像素为光标边界半径
                        autohidemode: true, //是否隐藏滚动条
                    });
                },
                leave:function(el){ //小程序+公众号+多种社交媒体多渠道智能营销；（鼠标 划出及划出前 执行的事件）
                    $(el).getNiceScroll().hide(); // 隐藏滚动条
                },
                getMaxheight:function(class_name){//全方位满足不同业务需求；（获取父级元素高度 方法）
                    // console.log(document.getElementsByClassName(class_name));
                    var that = this;
                    var dom = document.getElementsByClassName(class_name)[0].offsetHeight;
                    return dom;
                },
                getAnalyzeListInfo:function(index){//行业分析；（左右联动）
                    var that = this;
                    that.analyze_listActive = index;
                    that.analyze_listInfo=window.data.analyze[index];
                },
                scrollNumChan:function(){// 数字递增滚动效果；
                    var that = this;
                    var getScroll = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
                    if(getScroll>2222){
                        if(that.scrollNumChanhange==0){
                            that.scrollNumChanhange=1;
                            TweenLite.to(this.$data, 2, { tweenedNumber0: window.data.all_num.systemavailnum });
                            TweenLite.to(this.$data, 2, { tweenedNumber1: window.data.all_num.ordernum });
                            TweenLite.to(this.$data, 2, { tweenedNumber2: window.data.all_num.servicewaittime });
                        }
                    }
                    if(getScroll>3100){
                        if(that.scrollNumChanhange_five==0){
                            that.scrollNumChanhange_five=1;
                            TweenLite.to(this.$data, 2, { tweenedNumber_five0: window.data.all_numImg.systemavailnum1 });
                            TweenLite.to(this.$data, 2, { tweenedNumber_five1: window.data.all_numImg.systemavailnum2 });
                            TweenLite.to(this.$data, 2, { tweenedNumber_five2: window.data.all_numImg.goods });
                            TweenLite.to(this.$data, 2, { tweenedNumber_five3: window.data.all_numImg.sendGoods });
                            TweenLite.to(this.$data, 2, { tweenedNumber_five4: window.data.all_numImg.servicetime });
                        }
                    }
                },
                changeGetData:function(index0,index1,index2){////全方位满足不同业务需求；（鼠标划过事件）
                    var that = this;
                    that.getBusiness[index0].line[index1].isActive=index2;
                },
            },
            computed: {
                systemavailnum: function() {
                  return parseFloat(this.tweenedNumber0.toFixed(2)); // 数字滚动效果1；（保留小数点后2位）
                },
                ordernum: function() {
                  return parseFloat(this.tweenedNumber1.toFixed(0)); // 数字滚动效果1；（保留小数点后0位）
                },
                servicewaittime: function() {
                  return parseFloat(this.tweenedNumber2.toFixed(0)); // 数字滚动效果1；（保留小数点后0位）
                },
                systemavailnum1: function() {
                  return parseFloat(this.tweenedNumber_five0.toFixed(2)); // 数字滚动效果2；（保留小数点后2位）
                },
                systemavailnum2: function() {
                  return parseFloat(this.tweenedNumber_five1.toFixed(0)); // 数字滚动效果2；（保留小数点后0位）
                },
                goods: function() {
                  return parseFloat(this.tweenedNumber_five2.toFixed(1)); // 数字滚动效果2；（保留小数点后1位）
                },
                sendGoods: function() {
                  return parseFloat(this.tweenedNumber_five3.toFixed(0)); // 数字滚动效果2；（保留小数点后1位）
                },
                servicetime: function() {
                  return parseFloat(this.tweenedNumber_five4.toFixed(0)); // 数字滚动效果2；（保留小数点后2位）
                },
            }
        })
    </script>
</body>
</html>